* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191765;
  font-family: 'roboto', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.navbar .logo {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 24px;
}

.navbar .menu {
  margin-right: 32px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 24px;
  background-image: url(./assets/Ellipse18.svg);
  background-repeat: no-repeat;
}

.headline .myname {
  font-weight: 700;
  font-size: 48px;
  color: #7d73fc;
  margin-top: 47px;
}

.headline .subtitle {
  font-weight: 500;
  font-size: 32px;
  color: #edecff;
  margin-top: 40px;
  align-self: center;
}

.headline .myinfo {
  font-weight: 400;
  font-size: 20px;
  color: #c8c8d4;
  margin-top: 40px;
  padding-bottom: 33px;
  border-bottom: 1px solid #646369;
}

.languages_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px 41px 24px;
  background-image: url(./assets/Ellipseround.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.languages_container > div > ul {
  list-style: none;
}

.languages_container > div > ul > * {
  margin-top: 20px;
}

.frameworks,
.skills,
.language {
  width: 50%;
  font-weight: 400;
  font-size: 15px;
  color: #f5f5ff;
  box-sizing: border-box;
  margin-top: 37px;
}

.language,
.skills {
  padding-left: 20px;
}

.social_media_container {
  margin: 0 24px;
  padding-top: 48px;
  border-top: 1px solid #646369;
}

.social_media_container .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social_media_container .social_media > * {
  margin: 0 10px;
}

.work_box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 28px;
}

.work_box .work {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #a2a3ae;
}

.languages_container h6 {
  font-weight: 500;
  font-size: 12px;
  color: #9490ff;
  margin-bottom: 29px;
}

.recent_heading {
  font-weight: 500;
  font-size: 40px;
  color: #9490ff;
  margin: 83px 24px 33px 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #646369;
}

.About_myself {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  row-gap: 40px;
  background-image: url(./assets/Ellipse19.svg), url(./assets/Ellipse20.svg), url(./assets/Ellipse21.svg), url(./assets/Ellipse22.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0 168px, right 879px, 0 1658px, 200px 2399px;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.project-container .image_placeholder {
  background-color: #fff;
  width: 327px;
  height: 236px;
}

.project-container .title_post {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  height: 105px;
  color: #fff;
  margin: 24px 0;
}

.project-container .supporting_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  margin-bottom: 24px;
}

.project-container .tags {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 24px;
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.tags li {
  padding: 10px 20px;
  border-right: 1px solid #646369;
}

.tags li:last-child {
  padding: 10px 0 10px 20px;
  border-right: none;
}

.button {
  position: static;
  width: 89px;
  height: 48px;
  text-align: center;
  background-color: #7d73fc;
  align-items: center;
  color: #edecff;
  font-weight: 500;
  font-size: 12px;
  border: none;
}

button:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:active {
  background-color: #5e42d7;
}

.contact_text {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.contact_text .contact_us {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  color: #9390ff;
  margin-top: 120px;
}

.contact_text .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  text-align: center;
  margin: 24px 0 40px 0;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container input {
  width: 327px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 0;
  border-style: none;
  margin: 0 24px 24px 24px;
}

.form_container .text_area {
  height: 148px;
  width: 327px;
  border-radius: 0;
  border-style: none;
  margin: 0 24px;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
}

.form_container input::placeholder,
.form_container .text_area::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.form_button {
  width: 89px;
  height: 48px;
  text-align: center;
  background-color: #7d73fc;
  align-items: center;
  color: #edecff;
  font-weight: 500;
  font-size: 12px;
  border: none;
  align-self: center;
  margin: 40px 0 71px 0;
  transition: background-color 2s;
}

.form_button:hover {
  background-color: #7d73fc;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-top: 1px solid #646369;
  padding-top: 15px;
  width: 100%;
}

.footer .social_media > * {
  margin: 0 10px;
}

.footer .my_email {
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}
